.contact{
    .columns{
        text-align: center;
        border: solid 5px cl(orange);
        margin-bottom: 120px;
    }
    .title{
        height: 60px;
        background-color: cl(orange);
        padding-top: 20px;
        padding-bottom: 10px;

        .main{
            font-size: 30px;
            font-weight: bold;
            display: block;
            padding-bottom: 10px;
            font-family: 'Myriad Pro';
            display: block;
        }
        .sub{

        }
    }
    .contact-info{
        padding-bottom: 80px;
    }
    .linkbox{
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;

    }
}