.footer{
    .inner{
        border-top: 1px solid #000;
        margin-bottom: 50px;
    }
    .columns{
        margin-top: 20px;
    }
    .nav-list{
        display: flex;
    }
    .nav-item{
        margin-right: 20px;
        font-weight: bold;
        white-space: nowrap;
    }
    .office{
        display: flex;
        margin: 30px 0px;
    }
    .footer-logo{
        margin-right: 50px;
    }
    .ad-phone{

    }
    .copyright{

    }
}